# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist
.verification-dist
dist-ssr
*.local
coverage
playwright-report
test-results
public/img
.lighthouseci
.legacy-assets

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
